<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/style.css?121">
	<script src="/javascripts/jquery.min-2.1.3.js"></script>
	<script src="/javascripts/vue.min.js"></script>
</head>
<body>
